html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html, body {
  min-height: 100%;
  margin: 0; }

body {
  background: -webkit-linear-gradient(black, black 50px, #808080 50px, rgba(255, 255, 255, 0.8) 53px, rgba(255, 255, 255, 0.8)) no-repeat, url(http://placehold.it/350x150/) center center;
  background: linear-gradient(black, black 50px, #808080 50px, rgba(255, 255, 255, 0.8) 53px, rgba(255, 255, 255, 0.8)) no-repeat, url(http://placehold.it/350x150/) center center;
  background-size: auto, cover;
  font: 1em/1.3 Helvetica, sans-serif; }

#website-logo {
  width: 200px;
  height: 100px;
  background-color: #fff;
  background: -webkit-radial-gradient(circle, white, #ddd);
  background: radial-gradient(circle, white, #ddd);
  box-shadow: #808080 0px 0px 5px;
  float: left;
  margin-right: 1em;
  margin-left: 2.5%; }

#website-name {
  color: #fff;
  margin: 0;
  padding: 0;
  line-height: 50px; }

#website-name::after {
  content: 'website name'; }

header {
  max-width: 1000px;
  margin: 0 auto; }
  header > p {
    margin: 0; }
    header > p:first-of-type {
      margin-top: .8em; }

#outer {
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  #outer > section {
    width: 45%; }
    #outer > section > section > h2 {
      width: 100%;
      margin-bottom: 0.2em;
      color: #ccc;
      font-weight: normal; }

#colours, #textures, #buttons {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.colour, .texture {
  width: 75px;
  height: 75px;
  background-color: #666;
  border: 5px solid #fff;
  box-shadow: #808080 0px 0px 5px; }

.texture {
  width: 135px;
  height: 135px; }

.button {
  width: 48%;
  height: 40px;
  background-color: #666; }
  .button p {
    line-height: 40px;
    margin: 0;
    text-align: center; }
