.colour:nth-of-type(1) {
  background-color: #000; }

.colour:nth-of-type(2) {
  background-color: #f00; }

.colour:nth-of-type(3) {
  background-color: #0f0; }

.colour:nth-of-type(4) {
  background-color: #00f; }

.colour:nth-of-type(5) {
  background-color: #fff; }

.texture:nth-of-type(1) {
  background: url("http://placehold.it/135/ff00ff/") center center no-repeat; }

.texture:nth-of-type(2) {
  background: url("http://placehold.it/135/ffff00/") center center no-repeat; }

.texture:nth-of-type(3) {
  background: url("http://placehold.it/135/00ffff/") center center no-repeat; }

.button:nth-of-type(1) {
  background-color: #f00;
  color: #fff;
  border-radius: 5px; }

.button:nth-of-type(2) {
  background-color: #0f0;
  border-radius: 5px; }
