//base styles for all style tiles

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }
  
html, body {
  min-height: 100%;
  margin: 0;
}
body {
  background: -webkit-linear-gradient(black, black 50px, #808080 50px, rgba(255,255,255,0.8) 53px, rgba(255,255,255,0.8)) no-repeat, url(http://placehold.it/350x150/) center center;
  background:    -moz-linear-gradient(black, black 50px, #808080 50px, rgba(255,255,255,0.8) 53px, rgba(255,255,255,0.8)) no-repeat, url(http://placehold.it/350x150/) center center;
  background:         linear-gradient(black, black 50px, #808080 50px, rgba(255,255,255,0.8) 53px, rgba(255,255,255,0.8)) no-repeat, url(http://placehold.it/350x150/) center center;
  background-size: auto, cover;
  
  font: 1em/1.3 Helvetica, sans-serif;
}

#website-logo {
  width: 200px;
  height: 100px;
  background-color: #fff;
  background: radial-gradient(circle,white,#ddd);
  box-shadow: #808080 0px 0px 5px;
  float: left;
  margin-right: 1em;
  margin-left: 2.5%;
}
#website-name {
  color: #fff;
  margin: 0;padding: 0;
  line-height: 50px;
}
#website-name::after {
  content: 'website name';
}
header {
  max-width: 1000px;margin: 0 auto;
  >p {
    margin: 0;
    &:first-of-type {
      margin-top: .8em;
    }
  }
}

#outer {
  max-width: 1000px;margin: 0 auto;
  display: flex;
  flex-direction:row;
  justify-content:space-around;
  
  >section {
  width: 45%;
  
  >section>h2 {
    width: 100%;
    margin-bottom: 0.2em;
    color: #ccc;
    font-weight: normal;
  }
  }
}

#colours, #textures, #buttons {
  width: 100%;
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  flex-wrap:wrap;
}
  .colour, .texture, {
    width: 75px;height: 75px;
    background-color: #666;
    border: 5px solid #fff;
    box-shadow: #808080 0px 0px 5px;
  }
  .texture {
    width: 135px;height: 135px;
  }
  .button {
    width: 48%;height: 40px;
    background-color: #666;
    p {
      line-height: 40px;
      margin: 0;
      text-align: center;
    }
  }
