// tile-1 specific styles

$colours: #000 #f00 #0f0 #00f #fff; // duplicate colours will break your shit!

$texture-1: 'http://placehold.it/135/ff00ff/';
$texture-2: 'http://placehold.it/135/ffff00/';
$texture-3: 'http://placehold.it/135/00ffff/';

$button-1: nth($colours, 2);
$button-2: nth($colours, 3);
$button-1-text-white: true;
$button-2-text-white: false;


@each $colour in $colours {
  .colour:nth-of-type(#{index($colours,$colour)}) {
    background-color: $colour;
  }
}

.texture:nth-of-type(1) {
  background: url($texture-1) center center no-repeat;
}
.texture:nth-of-type(2) {
  background: url($texture-2) center center no-repeat;
}
.texture:nth-of-type(3) {
  background: url($texture-3) center center no-repeat;
}



.button:nth-of-type(1) {
  background-color: $button-1;
  @if $button-1-text-white == true {
    color: #fff;
  }
  border-radius: 5px;
}
.button:nth-of-type(2) {
  background-color: $button-2;
  @if $button-2-text-white == true {
    color: #fff;
  }
  border-radius: 5px;
}